body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url('images/fall.jpg');
}

body:active{
    background-image: url('images/sunny.jpeg');
    background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	width: 100%;
	height: 100vh;
    transition-duration: 5s;
}

.umbrella{
	width: 500px;
  	height: 500px;
  	perspective: 500px;
	perspective-origin:center top;
}

.umbrella:active{
	animation: yay 10s linear 1;
}

.umbrellaTriangle1{
	width: 100px;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	transform: translateX(52px);
}

.umbrellaTriangle2{
	width: 103px;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	transform: translateY(-206px) translateX(-24px) rotateZ(18deg);
}

.umbrellaTriangle3{
	width: 135px;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	transform: translateY(-356px) translateX(-28px) rotateZ(18deg);
}

.umbrellaTriangle4{
	width: 103px;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	transform: translateY(-454px) translateX(140px) rotateZ(-17deg);
}

.umbrellaTriangle5{
	width: 135px;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	transform: translateY(-623px) translateX(170px) rotateZ(-17deg);
}

.umbrellaHandle{
	width: auto;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	transform: translateY(-670px) translateX(62px);
}

.umbrellaHook{
	width: 200px;
	height: 75px;
	position: relative;
	transform-style: preserve-3d;
	transform: translateY(-735px) translateX(28px);
}

svg.elements{
	fill: rgba(12,45,24,1);
}


@keyframes yay{
	0%{
		opacity:1;
	}
	10%{
		opacity:0;
	}
	100%{
		opacity:0;
		transform: translateX(-900px);
	}
}

